{% extends 'pages/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<!-- <nav>
    <div class="navbar row #fafafa grey lighten-5 ">
        <div class="col s12">
            <a class="#212121 grey darken-4-text z-depth-2 btn"
                href="{% url 'pages:home' %}">Home</a>
            <a class="#212121 grey darken-4-text z-depth-2 btn"
                href="{% url 'pages:register' %}">Register</a>
            <a class="#212121 grey darken-4-text z-depth-2 btn" href="{% url 'pages:day' %}">Day Entry</a>
            <a class="#212121 grey darken-4-text z-depth-2 btn" href="{% url 'pages:evening' %}">Evening Entry</a>
            
            <a class="#212121 grey darken-4-text waves-light btn right" href="{% url 'pages:logout' %}">Logout</a>
            <a class="#212121 grey darken-4-text waves-effect waves-light btn right"
                href="{% url 'pages:login' %}">Login</a>
        </div>
    </div>
</nav> -->

<nav>
    <div class="nav-wrapper #fafafa grey lighten-5">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <div class="green-text text-darken-5">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">JavaScript</a></li>
          </div>
      </ul>
    </div>
  </nav>

{% endblock %}