{% extends 'pages/base.html' %}

{% block title %} {{user}} {% endblock %}



{% block content %}

<div class="#fafafa grey lighten-5">

    {% include 'pages/_navbar.html' %}
    <br>
    <br>
    <div class="container">

        <form action="{% url 'pages:saveevening' %}" method="POST">
            {% csrf_token %}
            <input type=text name="datetime" placeholder="Date Created" class="datepicker">
            <!-- <input type="date" name="datetime" placeholder="Date Created"> -->
            <input type="text" name="prompt_1" placeholder="List 3 Amazing things that happened today..">
            <input type="text" name="prompt_2" placeholder="How could I have made today even better?">
            <button class="black-text btn waves-effect waves-light" type="submit">Create</button>
        </form>

        <br>
        <br>

        <ul class="collapsible">
            {% for u in user.nightjournal.all %}
            <li>
                <div class="collapsible-header"><i class="material-icons">brightness_2</i>{{u.date}} - {{u.user}}</div>
                <div class="collapsible-body">
                    <span>
                        <p> {{u.prompt_1}} </p>
                        <p> {{u.prompt_2}} </p>
                        <p> {{u.prompt_3}} </p>
                        {% for v in user.nightjournal.currentuser.all%}
                        <h1> {{v.prompt_1}}</h1>
                    </span>
                </div>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>




{% endblock %}



<!-- <ul class="collapsible">
    {% for post in eveningposts %}
    <li>
        <div class="collapsible-header"><i class="material-icons">brightness_2</i>{{post.date}}</div>
        <div class="collapsible-body">
            <span>
            <p>{{post.prompt_1}}</p>
            <p>{{post.prompt_2}}</p>
            </span>
        </div>
    </li>
    {% endfor %}
</ul> -->