{% extends 'pages/base.html' %}

{% block title %} 🌛 Evening entries for {{user}} {% endblock %}



{% block content %}

<div class="#fafafa grey lighten-5">

    {% include 'pages/_navbar.html' %}
    <br>
    <br>
    <div class="container ">
        <h4> Welcome {{user}}, </h4>
        <h5> Please fill in the following fields for your evening entry: </h5>
        <form action="{% url 'pages:saveevening' %}" method="POST">
            {% csrf_token %}
            <input type=text name="datetime" placeholder="Date Created" class="datepicker">
            <input type="text" value="List 3 amazing things that happened today: "name="prompt_1" >
            <input type="text" value="How could I have made today even better? " name="prompt_2" placeholder="How could I have made today even better?">
            <button class="btn waves-effect waves-teal" type="submit">Create</button>
        </form>

        <br>
        <br>

        <ul class="collapsible popout">
            {% for u in user.nightjournal.all %}
            <li>
                <div class="collapsible-header"><i class="material-icons">brightness_2</i>{{u.date}} - {{u.user}}</div>
                <div class="collapsible-body">
                    <span>
                        <p> {{u.prompt_1}} </p>
                        <p> {{u.prompt_2}} </p>
                        <p> {{u.prompt_3}} </p>
                        {% for v in user.nightjournal.currentuser.all%}
                        <h1> {{v.prompt_1}}</h1>
                    </span>
                </div>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}



